{% extends 'index.html' %}
{% block title %}{{single_item.market_hash_name}} {% endblock title %}

{% block main%}
<h3 class="display-5 my-5 text-center">
    {{ single_item.market_hash_name }}
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="badge bg-info-subtle border border-info-subtle text-info-emphasis rounded-pill">Info</span>
    </button>
</h3>
<p class="lead text-center"></p>
<div class="container d-flex justify-content-between">
    <div class="col-6">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Sell</th>
                </tr>
            </thead>
            <tbody>
                {% if sells %}
                {% for item in sells %}
                <tr>
                    <td>
                        {{ item.amount }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>
                        No items yet
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Buy</th>
                </tr>
            </thead>
            <tbody>
                {% if buys %}
                {% for item in buys %}
                <tr>
                    <td>
                        {{ item.amount }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>
                        No items yet
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Info check</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">
                    Total amount buy: <b class="fw-bold">{{total_buy}}</b>
                    {{ single_item.currency }}
                </p>
                <p class="lead">
                    Total amount sell:
                    <b class="fw-bold">{{total_sell}}</b> {{single_item.currency }}
                </p>
                <p class="lead">
                    Total items:
                    <b class="fw-bold">{{total_items}}</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock main %}