{% extends 'index.html' %}
{% block title %}{{ search_term }}{% endblock title%}


{% block main %}
{% if search_results %}
<div class="container">
    <div class="d-flex justify-content-between flex-wrap">
        {% for item in search_results %}
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title mb-3">{{ item.market_hash_name }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <span
                        class="badge bg-{% if item.event == 'sell' %}success{% else %}primary{% endif %}-subtle border border-{% if item.event == 'sell' %}success{% else %}primary{% endif %}-subtle text-{% if item.event == 'sell' %}success{% else %}primary{% endif %}-emphasis rounded-pill">
                        {{item.event|capfirst }}</span>
                </h6>
                <p class="display-3">
                    <b>{{ item.amount }}</b>
                    <small style="font-size: 1.2rem">{{ item.currency }}</small>
                </p>
                <p class="lead text-muted fs-6 mb-2">{{ item.time }}</p>
                <a href="{% url 'detail_item' item.pk %}" class="btn btn-sm btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-book-half" viewBox="0 0 16 16">
                        <path
                            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>
                    Read more
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h3 class="text-center display-3 my-5">No found results</h3>
{% endif %}
{% endblock main %}