body {
  position: relative;
  z-index: 0;
}
#main-cover {
  position: relative;
  z-index: -22;
}

#dark-cover {
  position: absolute;
  z-index: -24;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
